<app-navbar></app-navbar>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex navbar-brand">
            <button (click)="logout()" class="btn btn-outline-success">Logout</button>
        </div>
    </div>
    <div class="money-info">
        Money: {{user.creditCard.moneyAmount}}$
    </div>
</nav>
<div class="container pb-5 mt-n2 mt-md-n3">

    <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom mt-4">

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae asperiores necessitatibus dolorum. Voluptas
        quas molestiae officiis natus quo tempora, sequi est quisquam nulla perferendis cumque ullam, explicabo itaque
        earum facilis?
        
    </div>
</div>