body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    color: white;
    position: sticky;
    left: 0;
    bottom: 0;
    top: 1000px;
    width: 100%;
    text-align: center;
    background-color: #3e4449;
    flex: 0;
}

.description {
    max-width: 50%;
}

.info {
    max-width: 80%;
}

.money-info {
    text-align: right;
    margin: 10px;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
    width: 100%;
}